<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Login')"></head>

<body>
<div class="container-fluid">

    <div class="row justify-content-center mb-3">
        <div class="col-auto">
            <h2>Login</h2>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-6">
            <form method="post" th:action="@{/login}" th:object="${loginData}">
                <div class="row justify-content-center">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="eMail">Usuario</label>
                            <input id="eMail" class="form-control" name="eMail" placeholder="Correo electrónico" type="text" th:field="*{eMail}" required/>
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <input id="password" class="form-control" name="password"  placeholder="Contraseña" type="password" th:field="*{password}" required/>
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                        <a class="btn btn-link" href="/registro">Ir a registro</a>
                        <a class="btn btn-link" href="/about">Acerca de</a>
            </form>
        </div>
    </div>
    <div class="row mt-3 justify-content-center">
        <div class="col-6">
            <div class="alert alert-danger" th:if="${error != null}" th:text="${error}"></div>
        </div>
    </div>
</div>

<div th:replace="fragments::javascript"/>

</body>
</html>